$red: #ae4439;
$orange:#de7641;
$yellow: #e5a96b;
$pink: #e4acaa;
@function get-vw($target) {
    $vw-context: (1000 * 0.01) * 1px;
    @return ($target/$vw-context) * 1vw;
}


@keyframes blink {
    from {opacity: 0.7; filter: drop-shadow(0 0 3rem rgb(156, 72, 61))}
    to {opacity: 1; filter: drop-shadow(0 0 5rem rgb(255, 255, 255))}
  }

@keyframes enlarge {
    from {transform:scale(1);}
    to {transform:scale(1.5);}
  }

@keyframes slideInFromLeft {
    0% {
        left: -50%;
    }
    100% {
        left: 50%;
    }
}
@keyframes slideInFromRight {
    0% {
        left: 200%;
    }
    100% {
        left: 50%;
    }
}
.PDiv {
    // background-image: url('../../../public/images/Loading/PB2.png');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.alignCenter {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;

}
.loadingDiv {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    color: rgb(246, 246, 246);
    background-color: rgba(0, 0, 0, 0.616);
    .LoadingBar {
        // position: relative;
        margin-top: 70%;
        // transform: translate(-50%, -50%);
    }
}
.audioStyle{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    opacity: 0;
    z-index: 3;
}