@function get-vw($target) {
    $vw-context: (1000 * 0.01) * 1px;
    @return ($target/$vw-context) * 1vw;
}


@keyframes slideInFromLeft {
    0% {
        left: -50%;
    }
    100% {
        left: 50%;
    }
}
@keyframes slideInFromRight {
    0% {
        left: 200%;
    }
    100% {
        left: 50%;
    }
}
