@import "../style.module.scss";

// html,
// body {
//     background-color: rgb(250, 208, 207);
// }
.maxHeight {
    height: 100vh;
}
.leftimg {
    max-width: 95%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
.rightimg{
    max-width: 95%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: 1s ease-out 0s 1 slideInFromRight;
}
