@import "../style.module.scss";
$anime: 0.8s linear 1s infinite alternate blink;

@keyframes dropDown {
    0% {
        top: -500px;
    }

    100% {
        top: 10%;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@keyframes cloudMove {
    0% {
        transform: translate(-8%, 50%);
    }

    100% {
        transform: translate(8%, 40%);
    }
}

.board_back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    // transform: translate(-50%, 0%);
}

.back {
    position: absolute;
    left: 0;
    top: 0;
    width: 100vw;
    height: 99vh;
    z-index: 0;
}

.normal {
    position: relative;
    z-index: 1;

    .Col {
        // padding-top: 1%;
        // padding-left: 5%;
        // padding-right: 5%;
    }
}

.upbutton {
    height: 5vh;
}

.monthtext {
    position: absolute;
    left: 50%;
    top: 1%;
    width: auto;
    height: 2vh;
    z-index: 1;
    transform: translate(-20%, 0%);
}

.prev {
    position: absolute;
    left: 43%;
    top: 1%;
    width: auto;
    height: 2vh;
    z-index: 1;
    transform: translate(-30%, 0%);
}

.next {
    position: absolute;
    left: 64%;
    top: 1%;
    width: auto;
    height: 2vh;
    z-index: 1;
    transform: translate(-20%, 0%);
}

.boardremind {
    position: absolute;
    left: 10%;
    top: 10%;
    width: auto;
    height: 10vh;
    z-index: 1;
    transform: translate(-30%, 0%);
    animation: fadeOut 6s ease-in-out 0.5s 1 alternate forwards;
}

.boardDiv {
    position: relative;
    z-index: 2;
    // height: fit-content;
    height: 28vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .childDiv {
        position: relative;
        height: 28vh;
        width: 55vw;
        // width: 100vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .imgBack {
            position: absolute;
            z-index: -1;
            // height: inherit;
            width: inherit;
        }
    }

    // padding: 4vw;
    .back {
        // position: "absolute";
        width: 30vw;
        min-height: 305px;
    }

    img {
        width: 15vw;
    }

    label {
        color: #ae4439;
        font-weight: bold;
    }
    .labelDiv {
        position: absolute;
        top: -61vh;
        left: 65%;
        transform: translateX(-50%);
        width: 250px;
        // margin-left: 16%;
    }
}
.labelBig {
    position: absolute;
    top: 0;
    left: 22%;
    font-size: 1.5vh;
    margin-bottom: 5%;
    max-width: 400px;
    width: 400px;
    margin-top: 20%;
    // margin-right: 25%;
    // transform: translateX(20%);
}
.labelSmall {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1vh;
    width: 150px;
    max-width: 150px;
    margin-top: 32%;
    margin-right: 20%;
}
.upper_shine {
    position: absolute;
    left: 0%;
    top: 5%;
    width: 100vw;
    z-index: 1;
    animation: fadeIn 2s ease-in-out 0.5s infinite alternate;
}
.lower_shine {
    position: absolute;
    left: 0%;
    bottom: 0%;
    width: 100vw;
    z-index: 1;
    animation: fadeIn 1.5s ease-in-out 0.5s infinite alternate;
}
.boardcloudright {
    position: absolute;
    right: -20%;
    top: 35%;
    width: 80vw;
    z-index: 1;
    animation: cloudMove 8s linear 0.5s infinite alternate;
}
.boardcloudleft {
    position: absolute;
    left: -10%;
    top: 15%;
    width: 60vw;
    z-index: 1;
    animation: cloudMove 5s linear 0s infinite alternate;
}
.lowerpic {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 88vw;
    z-index: 1;
    transform: translateX(-50%);
    // animation: cloudMove 5s ease-in-out 0s infinite alternate ;
}
.nextIcon {
    position: absolute;
    left: 50%;
    bottom: 0%;
    width: 10vw;
    z-index: 1;
    transform: translateX(-50%);
    // animation: cloudMove 5s ease-in-out 0s infinite alternate ;
}

.intro {
    position: relative;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    z-index: 0;
    overflow: hidden;

    .introback {
        position: absolute;
        left: 0;
        top: 0;
        width: inherit;
        height: inherit;
        height: auto;
        z-index: -1;

        img {
            width: 100vw;
            // padding-right: 4vw;
        }
    }

    .down_rect {
        position: absolute;
        top: -50%;
        left: 0;
        z-index: 0;
        width: auto;
        height: 28vh;
        animation: dropDown 1.5s ease-in-out 1s 1 alternate forwards;
    }

    .introtitle {
        position: absolute;
        left: 50%;
        top: 27%;
        width: auto;
        opacity: 0;
        height: 15vh;
        transform: translate(-50%, 0%);
        animation: fadeIn 1.5s ease-in-out 0.5s 1 alternate forwards;
    }

    .introtext {
        position: absolute;
        opacity: 0;
        left: 50%;
        top: 39%;
        width: auto;
        height: 15vh;
        transform: translate(-50%, 0%);
        animation: fadeIn 1.5s ease-in-out 1.5s 1 alternate forwards;
    }

    .bottom {
        position: absolute;
        left: 50%;
        top: 50%;
        width: auto;
        width: 76%;
        transform: translate(-50%, 0%);
    }

    .pic1 {
        opacity: 0;
        position: absolute;
        left: 45%;
        top: 60%;
        width: 25%;
        transform: translate(-50%, 0%);
        animation: fadeIn 1.5s ease-in-out 2s 1 alternate forwards;
    }

    .pic2 {
        opacity: 0;
        position: absolute;
        left: 35%;
        top: 75%;
        width: 25%;
        transform: translate(-50%, 0%);
        animation: fadeIn 1.5s ease-in-out 3s 1 alternate forwards;
    }

    .pic3 {
        opacity: 0;
        position: absolute;
        left: 67%;
        top: 72%;
        width: 25%;
        transform: translate(-50%, 0%);
        animation: fadeIn 1.5s ease-in-out 4s 1 alternate forwards;
    }

    .cloudleft {
        position: absolute;
        left: 0%;
        top: 40%;
        width: 40%;
        transform: translate(-50%, 50%);
        animation: cloudMove 4s ease-out 0.5s infinite alternate forwards;
    }

    .cloudright {
        position: absolute;
        left: 60%;
        top: 44%;
        width: 40%;
        transform: translate(-50%, 50%);
        animation: cloudMove 4.5s ease-out 2s infinite alternate forwards;
    }

    .toBoard {
        position: absolute;
        left: 50%;
        top: 35%;
        height: 25vh;
        transform: translate(-50%, 0%);
        animation: $anime;
    }

    .introtext {
        // margin-top: 8vh;
        width: auto;
        height: 4vh;
    }

    .uppermonth {
        position: absolute;
        left: 5;
        top: 54vh;
        width: 95vw;

        // height: 50vh;
        // background-color: rebeccapurple;
        .rightt {
            height: 4vh;
            padding-left: 65vw;
        }

        .midt {
            margin-top: 10px;
            height: 3vh;
            padding-left: 45vw;
        }

        .leftt {
            height: 3vh;
            // padding-right: 100vw;
        }
    }
}
