@import "../style.module.scss";
@keyframes heartDrop {
    from {
        top: -20%;
        transform: scale(1.5) translateX(-40%);
        opacity: 0.2;
    }
    to {
        top: 60%;
        transform: scale(1) translateX(-50%);
        opacity: 1;
    }
}
.BCIcon {
    position: absolute;
    margin-top: 2vh;
    z-index: 2;
    width: 100vw;
    img {
        height: 5vw;
        width: auto;
        margin: 5vw;
        min-height: 25px;
    }
}
.containerDiv {
    height: 100vh;
    width: 100vw;
}
.maxScreen {
    height: 100vh;
    width: 100vw;
}
.leftimg {
    max-width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
.P1Pic {
    position: absolute;
    height: 15vh;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.P1Heart {
    position: absolute;
    // width: 2vw;
    left: 50%;
    top: 50%;
    // transform: translate(-50%, -50%);
    width: 3vw;
    animation: 1.2s ease-in-out 0s infinite heartDrop;
    img {
        height: inherit;
        width: auto;
    }
}
.P2img {
    position: absolute;
    left: 50%;
    bottom: 10%;
    height: 5vh;
    width: auto;
    transform: translateX(-50%);
}
.nextDiv {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10%;
    width: 40vw;
    max-width: 250px;
    img {
        width: 3vw;
    }
    label {
        padding-top: 10px;
        font-weight: bold;
        font-size: 2vw;
        color: rgba(255, 255, 255, 0.897);
    }
}
// label {
//     font-weight: bold;
//     font-size: 2.5vw;
//     color: rgba(255, 255, 255, 0.897);
// }
.centerDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.redFont {
    color: $red !important;
    line-height: 4vh;
}
.P3IconUp {
    position: absolute;
    top: 5vh;
    left: 5vw;
    width: 40vw;
    height: 12vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: contain;
}
.P3IconDown {
    position: absolute;
    top: 75vh;
    right: 5vw;
}
.P3Next {
    position: absolute;
    bottom: 10vh;
    height: 4vh;
    left: 50%;
    transform: translateX(-50%);
    &:hover {
        opacity: 0.5;
    }
}

.P4letterImg {
    width: 80%;
    min-width: 30vw;
    padding: 10px 0px;
}
.P4NextPic {
    width: 20%;
    margin-left: 1%;
}
