@import "../style.module.scss";

.containerDiv{
    
    height: 100vh;
    width: 100vw;
}
.maxScreen {
    height: 100vh;
    width: 100vw;
}
.leftimg {
    max-width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%,-50%);
    animation: 1s ease-out 0s 1 slideInFromLeft;
}
.rightimg{
    max-width: 50%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: 1s ease-out 0s 1 slideInFromRight;
    &:active{
        opacity: 0.5;
    }
    & img{
        height:18vh;

    }
}

.P2img{
    position:absolute;
    left:20px;
    bottom:20px;
    width: 30%;
    max-width: 250px;
}
.nextDiv{
    position:absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom:10%;
    width: 40vw;
    max-width: 250px;
    img{
        width: 3vw;
    }
    label{
        padding-top: 10px;
        font-weight: bold;
        font-size: 2vw;
        color: rgba(255, 255, 255, 0.897);
    }
}
label{
    font-weight: bold;
    font-size: 2.5vw;
    color: rgba(255, 255, 255, 0.897);
}
.centerDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.redFont{
    color: $red !important;
    line-height: 4vh;
}
.P3IconUp{
    position: absolute;
    top: 5vh;
    left: 5vw;
    width: 40vw;
    height:12vh;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    background-size: contain;;
}
.P3IconDown{
    position: absolute;
    top: 75vh;
    right: 5vw;
    
}
.P3Next{
    position: absolute;
    bottom:3vh;
    height: 5vh;
    left: 50%;
    transform: translateX(-50%);
    &:hover{
        opacity: 0.5;
    }
}

.P4letterImg {
    width: 80%;
    min-width: 30vw;
    padding: 10px 0px;
}
.P4NextPic{
    width:200px;
    padding:"0 20px";
    &:active{
        opacity: 0.5;
    }
}